<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css"></link>
	</head>
	<body>
		<table class="main_table" align="center"><tr><td>
		{% if userNickname %}
			You are logged in as <b><i>{{ userNickname }}</i></b>, 
		{% else %}
			You are not logged in, 
		{% endif %}
		<a href="{{ url }}">{{ urlLinkText }}</a>
		
		<p/>
		
		<form action="{{updateTextLink}}" method="post">
      		<div>
      			<textarea name="content" rows="3" cols="80">{{ messageText }}</textarea>
			</div>
			<br/>
      		<div><input type="submit" value="Post Message"></div>
    	</form>
		
		</td></tr></table>
 	</body>
</html>
