<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css"></link>
	</head>
	<body>
		<table class="main_table" align="center"><tr><td>
		{% if userNickname %}
			You are logged in as <b><i>{{ userNickname }}</i></b>, 
		{% else %}
			You are not logged in, 
		{% endif %}
		<a href="{{ url }}">{{ urlLinkText }}</a>
		
		<p/>
		
		<form action="/sign" method="post">
      		<div><textarea name="content" rows="3" cols="80"></textarea></div><br/>
      		<div><input type="submit" value="Post Message"></div>
    	</form>

		<p/>
		
		{% for greeting in greetings %}
			<hr/>
			<div>
			{% if greeting.author %}
				<b><i>{{ greeting.author.nickname }}</i></b>
			{% else %}
				An anonymous person
			{% endif %}
			wrote at <i>{{ greeting.date.hour }}:{{ greeting.date.minute }}
			{{ greeting.date.day }}.{{ greeting.date.month }}.{{ greeting.date.year }}</i>:
			<blockquote><i>{{ greeting.content|escape }}</i></blockquote>
			</div>
			{% if greeting.editTextLink and greeting.deleteTextLink %}
			<div><a href="{{ greeting.editTextLink }}">edit</a> or
				<a href="{{ greeting.deleteTextLink }}">delete</a></div>
			{% endif %}
		{% endfor %}
		</td></tr></table>
 	</body>
</html>
